/*   
}
h1{
  transition: transform 2s;
 
}
.card:hover > p{
  
   transform: scale(1.5);
    top:80%;
 
}
  

/* .card header {
  position:absolute;
  top: 120%;
  left: 0%;
  padding: 1px;
  border-radius:  25px;
  width: 450px;
  height: 90px;
  transition: all .5s;
  opacity:0;
} */
/* .card:hover > header{
  
    opacity:1;
    width: 450px;
    height: 90px;
    transform: translateY(-120px);
} */

 .cardmoon {
  transition: transform .7s;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* border-radius: 500px; */
  margin: auto;
  /* background: rgb(76, 74, 74); */
  width: 850px;
  height: 850px;
}
 .cardmoon:hover{
   transform: scale(1.08)
} 

.cardmoon:hover > img{
   transform: scale(1.4);           
}
.logo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity:0.9;
  transition: 0.5s;
 } 